/* 여기에 스타일을 구현해 주세요 */

:root {
  --online: #4cfe88;
  --offline: #dbdbdb;
}

#avataWrap {
  width: 50%;
  height: 100%;
}

ul > li {
  position: relative;
  list-style-type: none;
  width: 80px;
  height: 80px;
}

.femaleLine,
.maleLine {
  display: flex;
}

figure {
  width: 64px;
  height: 64px;
  margin: 0;
  border-radius: 100%;
}

figure > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

figure figcaption {
  display: none;
}

ul > li > .onlineCircle {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
}

.femaleLine > li:nth-child(odd) > .onlineCircle {
  background-color: var(--offline);
}

.femaleLine > li:nth-child(even) > .onlineCircle {
  background-color: var(--online);
}

.maleLine > li:nth-child(-n + 2) > .onlineCircle {
  background-color: var(--online);
}

.maleLine > li:nth-child(n + 3) > .onlineCircle {
  background-color: var(--offline);
}
